body{
background-color: rgb(235, 6, 94);
margin:10px;
box-sizing: border-box;
font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}
img{
    width:100%;
    height:313px;
}
header{
  height:50px;
  width= 100%;
  background-color: blueviolet;
  text-align: center;
  color: white;
}

footer{
  height:50px;
  width= 100%;
  background-color: blueviolet;
}
input[type="text"],textarea, #email{
  position: relative;
  width: 94%;
  margin-left:10px;
  margin-right:10px;
  padding:5px;
}
p,span{
 margin-left:10px;
 margin-top:10px;
}
.container{
  background-color: rgb(203, 194, 211);
  width:100%;
  /* margin:10px; */
  /* float: center; */
  padding:5px;
}
.submit{
  width:20%;
  font-size: larger;
  margin-top:10px;
  margin-bottom: 10px;
  display:block;
  margin-left:auto;
  margin-right:auto;
  border-radius: 7px;
  background: rgb(77, 142, 202);
}

